@charset "UTF-8";
/*propiedades de diseño general*/
body {
  background-color: #d3c0b2;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  background-color: #c4bfbbce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.principal {
  position: relative;
}

hr {
  width: 100%;
  height: 2px;
}

h1 {
  color: #5c402a;
  font-weight: 150%;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

h2 {
  color: #5c402a;
  font-weight: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

p {
  color: #5c402a;
  font-family: 'Roboto', sans-serif;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300 !important;
  padding: 10px;
}

.parrafo {
  margin: 10px 60px 10px 60px;
  text-align: center;
}

.texto {
  text-align: center;
  margin: 10px 60px 10px 60px;
}

h6 {
  text-align: center;
  color: #49403b;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

strong, b {
  font-weight: bold;
}

/*propiedades que corresponden a la frase en proyecto*/
.contenedorPadre {
  width: 80%;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "frase" "hijo";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorPadre__contenedorHijo {
  width: auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.contenedorPadre__contenedorHijo__frase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -ms-grid-rows: (auto)[4] "frase" "frase" "frase" "frase";
      grid-template-rows: repeat(4, auto) "frase" "frase" "frase" "frase";
  justify-items: center;
}

.contenedorPadre__contenedorHijo__frase--peque {
  color: #795548;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  font-size: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contenedorPadre__contenedorHijo__frase--mediana {
  color: #6d4c41;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  font-size: 22px;
  padding: 1px;
}

.contenedorPadre__contenedorHijo__frase--grande {
  color: #3e2723;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.contenedorPadre__contenedorHijo__frase--grande h1 {
  padding: 0;
  font-size: 24px;
  font-family: 'Handlee', cursive;
}

/* propiedades que corresponden al header*/
.background {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.background::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  background-size: cover;
  background-image: url("../imágenes/puenteParque.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.backgroundVideo::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  background-size: cover;
  background-image: url("../imágenes/gualePedalea.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.informacion::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  background-size: cover;
  background-image: url("../imágenes/oficinaTurismo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.proyecto::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: opacity(60%);
          filter: opacity(60%);
  background-size: cover;
  background-image: url("../imágenes/cicloturismo2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.sectionEncabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  -webkit-animation: slideInDown;
          animation: slideInDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  z-index: 1;
}

.sectionEncabezado a {
  max-width: 200px;
}

.logo {
  width: 100%;
  margin: 10%;
}

nav {
  width: auto;
  height: auto;
  margin: 10%;
  -webkit-animation: slideInDown;
          animation: slideInDown;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

nav::before {
  background: #786969;
  bottom: 0;
  content: "";
  display: block;
  height: 1.3rem;
  left: 0;
  margin: 0 0 0.7rem 0;
  padding: 0 .9rem .3rem 7.2rem;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: -1;
}

.backgroundVideo nav::before {
  background: none;
  bottom: 0;
  content: "";
  display: block;
  height: 1.3rem;
  left: 0;
  margin: 0 0 0.7rem 0;
  padding: 0 .9rem .3rem 7.2rem;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: -1;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul > li {
  display: inline-block;
  position: relative;
}

ul > li > a {
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 3px;
}

ul li:hover ul {
  display: block;
}

nav li a:hover {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.nav-link.active {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #49403b !important;
  padding: 8px;
}

.menú {
  color: white;
}

.menú:hover {
  color: white;
}

.submenú {
  position: absolute;
  display: none;
}

.submenú li {
  margin: 3px;
}

.submenú li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0px;
}

.submenú li a:hover {
  display: block;
}

.principal {
  position: relative;
}

.principalSub h1 {
  font-family: inherit;
  color: #ffffff;
  font-family: 'Yrsa', serif;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 100;
  margin-top: 17.5%;
  text-align: end;
  text-shadow: -1.5px 0 #786969, 0 1.5px #786969, 1.5px 0 #786969, 0 -1.5px #786969;
  margin-right: 2%;
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.principalSub h2 {
  font-family: inherit;
  color: white;
  font-family: 'Yrsa', serif;
  letter-spacing: 2px;
  font-weight: 40;
  text-shadow: -1px 0 #786969, 0 1px #786969, 1px 0 #786969, 0 -1px #786969;
  margin-top: -1.5%;
  margin-left: 33%;
  z-index: 2;
  position: relative;
  -webkit-animation: slideInLeft;
          animation: slideInLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.principalSub h2::before {
  background: #6C4F48;
  bottom: -0.8rem;
  content: "";
  display: block;
  height: 1.3rem;
  left: 0;
  margin: 0 0 0.7rem 0;
  padding: 0 .9rem .3rem 7.2rem;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.backgroundVideo {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.backgroundVideo #video_background {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
}

.backgroundVideo .encabezado {
  position: relative;
  margin-top: none;
  background: rgba(2, 2, 2, 0.2);
  z-index: 1;
}

.backgroundVideo .encabezado .logo {
  margin: 0px;
  width: 130px;
}

.backgroundVideo .sectionEncabezado .navbar {
  margin: 0;
  padding: 30px;
}

.backgroundVideo .sectionEncabezado {
  margin: 0;
  width: 100%;
  height: auto;
}

/*propiedades que corresponden al footer*/
footer {
  background-color: #c4bfbbce;
  width: 100%;
  margin-top: 10px;
  padding: 7px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c4bfbbce), to(#6e6763ce));
  background-image: linear-gradient(to bottom, #c4bfbbce, #6e6763ce);
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer img:hover {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  background-color: #D7D2CE;
  padding: 6px;
  border-radius: 30%;
}

.iconosIndividuales {
  margin: 0px 6px 0px 6px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* propiedades que corresponden a index*/
.fotosIndex {
  width: 60%;
  height: auto;
  padding: 20px;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.fotosIndex:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.carousel {
  width: 80%;
  height: 80%;
  margin: auto;
}

/*propuedades que corresponden a Guale*/
.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja__atractivos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.caja__atractivos--atractivo img {
  width: 250px;
  height: 250px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 7px;
  -webkit-filter: brightness(0.7) contrast(0.7) grayscale(0.23);
          filter: brightness(0.7) contrast(0.7) grayscale(0.23);
}

.caja__atractivos--atractivo {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.caja__atractivos--atractivo img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 1.8s 4.8s ease, all 1.3s 0s ease;
  transition: all 1.8s 4.8s ease, all 1.3s 0s ease;
  -webkit-filter: none;
          filter: none;
}

@media screen and (max-width: 880px) {
  .caja__atractivos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  video {
    width: 80%;
  }
}

@media screen and (max-width: 582px) {
  .guale {
    width: 100%;
  }
  .caja__atractivos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  video {
    width: 90%;
  }
}

@media screen and (max-width: 388px) {
  audio {
    width: 240px;
  }
  .atractivo:hover {
    border: none;
  }
  .guale:hover {
    border: none;
  }
}

/* propiedades que corresponden a Circuito*/
.circuito {
  margin: 30px;
}

.circuito iframe {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.circuito iframe:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media screen and (max-width: 800px) {
  .circuito iframe {
    width: 100%;
    margin: auto;
  }
}

/*propiedades que corresponden a Información*/
.caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja__table {
  border-style: inherit;
}

.caja__table--colorLista {
  color: #49403b;
}

li {
  list-style-position: inside;
  list-style-type: none;
}

td {
  padding: 10px;
}

th {
  color: #49403b;
}

tr {
  color: #49403b;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
}

/*propiedades que corresponden a proyecto*/
fieldset {
  color: #49403b;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */