@charset "UTF-8";
/*propiedades de diseño general*/
body {
  background-color: #d3c0b2;
  margin: 30px;
  background-image: url("http://127.0.0.1:5500/pruebas%20coder/cicloturismo/imágenes/puente1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

main {
  background-color: #c4bfbbce;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

hr {
  width: 100%;
  height: 2px;
}

h1 {
  color: #5c402a;
  font-weight: 150%;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  padding: 30px;
}

h2 {
  color: #5c402a;
  font-weight: 100px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  padding: 10px;
}

p {
  color: #5c402a;
  font-family: 'Roboto', sans-serif;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300 !important;
  padding: 10px;
}

.parrafo {
  margin: 10px 60px 10px 60px;
  text-align: center;
}

.texto {
  text-align: center;
  margin: 10px 60px 10px 60px;
}

h6 {
  text-align: center;
  color: #534a44;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}

strong, b {
  font-weight: bold;
}

/*propiedades que corresponden a la frase en proyecto*/
.contenedorPadre {
  width: 80%;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "frase" "hijo";
  align-items: center;
}

.contenedorPadre__contenedorHijo {
  width: auto;
  display: grid;
  justify-items: center;
}

.contenedorPadre__contenedorHijo__frase {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(4, auto) "frase" "frase" "frase" "frase";
  justify-items: center;
}

.contenedorPadre__contenedorHijo__frase--peque {
  color: #795548;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  animation: fadeIn;
  animation-duration: 3s;
  font-size: 20px;
  align-items: stretch;
}

.contenedorPadre__contenedorHijo__frase--mediana {
  color: #6d4c41;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  animation: fadeIn;
  animation-duration: 3s;
  font-size: 22px;
  padding: 1px;
}

.contenedorPadre__contenedorHijo__frase--grande {
  color: #3e2723;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  animation: fadeIn;
  animation-duration: 3s;
}

.contenedorPadre__contenedorHijo__frase--grande h1 {
  padding: 0;
  font-size: 24px;
  font-family: 'Handlee', cursive;
}

/* propiedades que corresponden al header*/
.encabezado {
  background-color: #c4bfbbce;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sectionEncabezado {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  animation: slideInDown;
  animation-duration: 3s;
  z-index: 1;
}

.logo {
  width: 150px;
}

nav {
  width: auto;
  height: auto;
  animation: slideInDown;
  animation-duration: 3s;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul > li {
  display: inline-block;
  position: relative;
}

ul > li > a {
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 3px;
}

ul li:hover ul {
  display: block;
}

nav li a:hover {
  transition: all linear 0.3s;
  background-color: #D7D2CE;
}

.nav-link.active {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #534a44 !important;
  padding: 8px;
  background-color: #D7D2CE !important;
}

.menú {
  color: #534a44;
}

.menú:hover {
  color: #534a44;
}

.submenú {
  position: absolute;
  display: none;
}

.submenú li {
  margin: 3px;
  background-color: #c4bfbbce;
}

.submenú li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  color: #534a44;
}

ul {
  padding-left: 0px;
}

.submenú li a:hover {
  display: block;
}

/*propiedades que corresponden al footer*/
footer {
  background-color: #c4bfbbce;
  width: 100%;
  margin-top: 10px;
  padding: 7px 20px;
  background-image: linear-gradient(to bottom, #c4bfbbce, #6e6763ce);
}

.iconos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

footer img:hover {
  transition: all linear 0.2s;
  background-color: #D7D2CE;
  padding: 6px;
  border-radius: 30%;
}

.iconosIndividuales {
  margin: 0px 6px 0px 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* propiedades que corresponden a index*/
.fotosIndex {
  width: 60%;
  height: auto;
  padding: 20px;
  transition: all linear 0.4s;
}

.fotosIndex:hover {
  transform: scale(1.05, 1.05);
}

.carousel {
  width: 80%;
  height: 80%;
  margin: auto;
}

/*propuedades que corresponden a Guale*/
.caja {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.guale {
  padding: 20px;
  width: 100%;
  justify-items: center;
  transition: all linear 0.4s;
}

.guale:hover {
  transform: scale(1.1, 1.1);
}

.caja__atractivos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.caja__atractivos--atractivo img {
  width: 250px;
  height: 250px;
  margin: 10px;
  object-fit: cover;
  padding: 10px;
}

.caja__atractivos--atractivo {
  transition: all linear 0.4s;
}

.caja__atractivos--atractivo:hover {
  transform: scale(1.2, 1.2);
}

video {
  width: 60%;
  height: auto;
  margin: 10px;
  justify-items: center;
  margin: 10px;
}

@media screen and (max-width: 880px) {
  .caja__atractivos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  video {
    width: 80%;
  }
}

@media screen and (max-width: 582px) {
  .guale {
    width: 100%;
  }
  .caja__atractivos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  video {
    width: 90%;
  }
}

@media screen and (max-width: 388px) {
  audio {
    width: 240px;
  }
  .atractivo:hover {
    border: none;
  }
  .guale:hover {
    border: none;
  }
}

/* propiedades que corresponden a Circuito*/
.circuito {
  margin: 30px;
}

.circuito iframe {
  margin-top: 20px;
  transition: all linear 0.4s;
}

.circuito iframe:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 800px) {
  .circuito iframe {
    width: 100%;
    margin: auto;
  }
}

/*propiedades que corresponden a Información*/
.caja {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.caja__table {
  border-style: inherit;
}

.caja__table--colorLista {
  color: #534a44;
}

li {
  list-style-position: inside;
  list-style-type: none;
}

td {
  padding: 10px;
}

th {
  color: #534a44;
}

tr {
  color: #534a44;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
}

/*propiedades que corresponden a proyecto*/
fieldset {
  color: #534a44;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  line-height: 1,7;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
}
